<label class="label" [for]="fieldInfo?.id">
  {{ fieldInfo?.label }}

  <div class="label__required-asterisk" *ngIf="fieldInfo?.required" title="Обязательное поле">
    *
  </div>
</label>

<input
  class="field"
  *ngIf="!fieldInfo.mask; else maskedInput"
  [class.error]="showInvalid"
  [id]="fieldInfo?.id"
  [type]="fieldInfo?.type"
  [required]="fieldInfo?.required"
  [placeholder]="fieldInfo?.placeholder"
  [formControl]="formControl"
  (input)="onChange($event.target.value)"
>

<ng-template #maskedInput>
  <input
    class="field"
    [class.error]="showInvalid"
    [id]="fieldInfo?.id"
    [type]="fieldInfo?.type"
    [required]="fieldInfo?.required"
    [placeholder]="fieldInfo?.placeholder"
    [textMask]="{ mask: fieldInfo?.mask?.pattern }"
    [formControl]="formControl"
    (input)="onChange($event.target.value)"
  >
</ng-template>
